<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502502345652-58a9a4lm8d07mrh7kds1p4c51bau7556.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502502345652-58a9a4lm8d07mrh7kds1p4c51bau7556</string>
	<key>API_KEY</key>
	<string>AIzaSyB5CH-RdloXuU0uGyMi-pyHbSaYhDsvSU4</string>
	<key>GCM_SENDER_ID</key>
	<string>502502345652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.LocationTracker</string>
	<key>PROJECT_ID</key>
	<string>treasurenepalncit</string>
	<key>STORAGE_BUCKET</key>
	<string>treasurenepalncit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502502345652:ios:2c0484fde4a59a3c80c0e1</string>
	<key>DATABASE_URL</key>
	<string>https://treasurenepalncit.firebaseio.com</string>
</dict>
</plist>